body{
  background-color: lightgray;

}
main{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  margin: 10px;
  position:relative;
  display:inline-block;
}

span {
  color: black;
  padding:10px;
  pointer-events: none;
  position:absolute;
  left:5px;
  top:18%;
  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

}

.input{
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  border: none;
}

textarea{
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  border: none;
}

.input:focus + span, .input:not(:placeholder-shown) + span {
  opacity:1;
  transform: scale(85%) translateY(-100%);
}