*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

body {
  background-color: lightgray;
}

main {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  margin: 10px;
  position: relative;
  display: inline-block;
}

span {
  color: black;
  padding: 10px;
  pointer-events: none;
  position: absolute;
  left: 5px;
  top: 18%;
  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.input {
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  border: none;
}

textarea {
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  border: none;
}

.input:focus + span, .input:not(:placeholder-shown) + span {
  opacity: 1;
  transform: scale(85%) translateY(-100%);
}

body {
  background-color: lightgray;
}
body .article__status {
  margin-top: 300px;
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .article__status p {
  border-radius: 10px;
  padding: 20px;
  background-color: white;
}
